@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.info {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $Mercury;
  }
  &__container {
    width: 45%;
    background-color: $Mercury;
    border-radius: 0.25rem;
    height: 4.3rem;
    width: 7rem;
    overflow: hidden;
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &__text {
    width: 55%;
    margin-left: 1rem;
    @include tablet {
        width: 11rem;
    }
    &__title {
      margin: 0;
      @include bold;
      color: $BrainFlix-Black;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      @include tablet {
        margin: 0;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
    &__channel {
      @include regular;
      margin-bottom: 0;
      color: $BrainFlix-Black;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      @include tablet {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
  }
}
