@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.upload__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
  background-color: $BrainFlix-Blue;
  color: $White;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  &__icon {
  height: 20px;
  }
}
