@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.user {
    display: flex;
    margin: 0;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-position: center;
    background-size: cover;
    @include tablet {
        height: 2.5rem;
        width: 2.5rem;
    }
}