@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #000;
  opacity: 1;
  @include regular;
}

.label {
  margin-bottom: 1rem;
  @include regular;
  color: $Silver;
}

.box {
  border: 0.125rem solid $Mercury;
  border-radius: 0.25rem;
  width: 100%;
  background-color: $Alabaster;
  color: $BandSite-DarkBlack;
  @include regular;
  &:focus {
    border: 0.125rem solid $BandSite-DarkBlack;
  }
}

.invalid {
    border: 0.125rem solid #D22D2D;
    &::placeholder {
        color: #D22D2D;
    }
}

.button {
    height: 2.5rem;
    color: $White;
    background-color: $BandSite-Black;
    border-radius: .25rem;
    border: none;
    @include demi;
    &:hover {
        background-color: $BandSite-DarkBlack;
    }
}

.header {
    width: 100%;
    background-color: $BandSite-Black;
    &__nav{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        @include tablet {
            flex-direction: row;
        }
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1rem 0 0 0;
            @include tablet {
                padding: 1.25rem 2.25rem;
            }
            @include desktop {
                padding: 2rem  2.25rem 2rem 8rem;
            }
            &__link {
                @include reset-link;
            }
            &__image {
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }
        &__list {
            @include reset-list;
            display: flex;
            justify-content: center;
            align-items: center;
            &__item {
                width: 50vw;
                height: 100%;
                padding: .5rem;
                text-align: center;
                color: $Mercury;
                @include demi;
                font-size: .875rem;
                line-height: 1.375rem;
                &:hover {
                    color: $White;
                    @include demi;
                    border-bottom: .2188rem solid $White;
                }
                &--active {
                    color: $White;
                    @include demi;
                    border-bottom: .2188rem solid $White;
                }
                @include tablet {
                    width: -moz-fit-content;
                    width: fit-content;
                    padding: 0;
                    margin: 0 1.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: .875rem;
                    line-height: 1.375rem;
                }
                @include desktop {
                    margin: 0 1.25rem;
                }
            }
            &__link {
                @include reset-link;
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: $BandSite-Black;
    color: $White;
    &__get {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            &__left {
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
            }
        }
        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__text {
                margin: .6rem 0;
                padding: 1.4rem 1rem 0rem 1rem;
                font-size: 1.5rem;
                line-height: 2rem;
                @include demi;
                @include tablet {
                padding: 3rem 1rem 1rem 2.25rem;
                font-size: 2.25rem;
                line-height: 2.75rem;
                }
                @include desktop {
                padding: 3rem 2rem 2.25rem 8rem;
                }
            }
        }
        &__icons {
            &__list {
                @include reset-list;
                display: flex;
            }
            &__item {
                padding: .5rem .8rem .5rem 1rem;
            }
            &__link {
                @include reset-link;
            }
            &__icon {
                height: 1.3rem;
            }
        }
        &__logo {
            display: none;
            @include tablet {
                display: flex;
                padding-right: 2.25rem;
                overflow: hidden;
                &__link {
                    @include reset-link;
                }
                &__image {
                    max-height: 1.25rem;
                    max-width: 7.5rem;
                }
            }
            @include desktop {
                padding-right: 8rem;
            }
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            margin: 0 2.25rem;
        }
        @include desktop {
            margin: 0 8rem;
        }
        &__person {
            display: flex;
            flex-direction: column;
            @include tablet {
                padding-right: 3rem;
                overflow-wrap: break-word;
                &--left {
                    padding-right: 0;
                }
            }
            @include desktop {
                padding-right: 5em;
            }
            &__name {
                margin: .5rem 0;
                @include demi;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }
            }
            &__address {
                margin: .5rem 0;
                @include regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }
            }
            &__email {
                margin: .5rem 0;
                @include regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }
                &__link {
                    @include reset-link;
                }
            }
        }
    }
    &__copyright {
        padding-top: 3rem;
        &__logo {
            @include tablet {
                    display: none;
            }
            &__link {
                @include reset-link;
                padding-left: 1rem;
            }
            &__image {
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }
        &__text {
            margin: 0;
            padding: 1rem;
            @include regular;
            font-size: .6875rem;
            line-height: 1.125rem;
            @include tablet {
                padding: 0 0 2.25rem 0;
                margin: 0 0 0 2.25rem;
                font-size: .875rem;
                line-height: 1.25rem;
            }
            @include desktop {
                margin: 0 0 0 8rem;
            }
        }
    }
}

