@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: $BrainFlix-DarkBlack;
  opacity: 1;
  @include regular;
}

.label {
  margin-bottom: 1rem;
  @include regular;
  color: $Silver;
}

.box {
  border: 0.125rem solid $Mercury;
  border-radius: 0.25rem;
  width: 100%;
  background-color: $Alabaster;
  color: $BrainFlix-DarkBlack;
  @include regular;
  &:focus {
    border: 0.125rem solid $BrainFlix-DarkBlack;
  }
}

.invalid {
    border: 0.125rem solid #D22D2D;
    &::placeholder {
        color: #D22D2D;
    }
}

.button {
    height: 2.5rem;
    color: $White;
    background-color: $BrainFlix-Blue;
    border-radius: .25rem;
    border: none;
    @include regular;
    &:hover {
        background-color: $BrainFlix-DarkBlue;
    }
}

