@font-face {
    font-family: "Avenir Regular";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format('OpenType');
}

@font-face {
    font-family: "Avenir Demi";
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format('OpenType');
}

@font-face {
    font-family: "Avenir Bold";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format('OpenType');
}

@font-face {
    font-family: "Avenir Regular ttf";
    src: url(../../assets/Font/Alternative/AvenirNextLTPro.ttf) format('TrueType');
}

@font-face {
    font-family: "Avenir Demi ttf";
    src: url(../../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format('TrueType');
}

@font-face {
    font-family: "Avenir Bold ttf";
    src: url(../../assets/Font/Alternative/AvenirNextLTProBold.ttf) format('TrueType');
}