@font-face {
    font-family: "Avenir regular";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format('OpenType');
}

@font-face {
    font-family: "Avenir bold";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format('OpenType');
}

@font-face {
    font-family: "Avenir regular ttf";
    src: url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format('TrueType');
}

@font-face {
    font-family: "Avenir bold ttf";
    src: url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format('TrueType');
}