@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.videos {
    margin: 1rem;
    @include tablet {
        margin: 1rem 2.25rem;
    }
    @include desktop {
        margin: 2rem 1rem;
    }
}
.title {
    color: $Silver;
    @include regular;
    font-size: .8125rem;
    line-height: 1.25rem;
    border: none;
    margin: 0;
    margin-bottom: 1rem;
}