@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.not-found {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    width: 100%;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__text {
    margin: 0 0 1rem 0;
    text-align: center;
    @include regular;
    color: $BrainFlix-Black;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
    @include desktop {
        font-size: 1.125rem;
        line-height: 2rem;
    }
  }
  &__button {
    width: 100%;
    height: 2.5rem;
    color: $White;
    background-color: $BrainFlix-Blue;
    border-radius: .25rem;
    border: none;
    @include regular;
    @include tablet {
        width: 15rem;
        padding: 0 1rem;
        margin: 0 1rem;
    }
    &:hover {
    background-color: $BrainFlix-DarkBlue;
    }
    & > *:first-child {
        color: inherit;
        text-decoration: none;
    }
  }
}





